@font-face {
    font-family: 'font1';
    src: url('SilkaMono-Regular.woff2') format('woff2'), url('SilkaMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'font2';
    src: url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff2') format('woff2'), url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff') format('woff');
}

@font-face {
    font-family: 'font3';
    src: url('PPNeueMontreal-Regular.woff2') format('woff2'), url('PPNeueMontreal-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html,
body {
    overflow-x: hidden;
    color: #333;
    line-height: 1.5;
    background-color: #e6e7e8;
    -webkit-user-select: none;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    /* background-color: #403f3d; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
    font-family: 'font1';
    font-weight: 100;
    z-index: 10;
}

.header_top {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #e6e7e8;
    /* background-color: #3f4525; */
}

.header_left {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    /* background-color: #ffffff; */
    padding-left: 20px;
}

.header_right {
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* background-color: #592222; */
    padding-right: 20px;
}

.header_right a {
    color: #000000;
    text-decoration: none;
    display: flex;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

.nav_arrow {
    /* background-color: #c0282845; */
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_arrow i {
    color: #000000;
    font-size: 1.1vw;
    transform: rotate(120deg);
    transition: transform 0.3s ease;
}

.header_right a:hover .nav_arrow i {
    transform: rotate(0deg);
}




.header_container {
    width: 100vw;
    height: auto;
    /* z-index: 1; */
    font-family: 'font1';
    /* background-color: #490d0d; */
}



.headder_container1_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid #00000065;

    /* Start with Height 0 (Hidden) */
    height: 0;
    opacity: 50;
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_1 {
    width: 100vw;
    height: 85vh;
    border-top: 0.5px solid #00000065;
    /* background-color: #0030cd47; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transform-origin: top top; */
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);

}

.header_container_1_top {
    width: 97vw;
    height: 35vh;
    gap: 20px;
    /* background-color: #ffffff; */
    display: flex;


}

.header_container_1_top_123 {
    font-size: 0.7vw;
    color: #0000006e;
    font-family: 'font2';

}

.header_container_1_top_123 a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 100;

}

.header_container_1_top_123 p {
    color: #0000006e;
    font-size: 0.9vw;
    padding-left: 30px;
}

.header_container_1_top_1 {
    width: 50%;


}

.header_container_1_top_1_inner {
    display: flex;
}

.header_container_1_top_1_left {
    /* background-color: #461d1d99; */
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container_1_top_1_left_12 {

    display: flex;
    /* white-space: nowrap; */
}

.header_container_1_top_logo {
    display: inline;
}

.header_container_1_top_arrow {
    display: inline;
}


.header_container_1_top_1_right {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

.header_container_1_top_1_right_12 {

    display: flex;
    /* white-space: nowrap; */
}


.header_container_1_top_2 {
    width: 25%;

}

.header_container_1_top_2_left {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

/* .header_container_1_top_2_left_1
{
    height: 50%;
    
}
.header_container_1_top_2_left_2
{
    height: 50%;
    
} */
.header_container_1_top_3 {
    width: 25%;

}




.header_container_1_bottom {
    /* background-color: #441d1d4f; */
    height: 25vh;
    width: 97vw;
    border-top: 1px solid #0e0c0c55;
    gap: 20px;
    display: grid;
    font-family: 'font3';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}

.header_container_1_bottom_part_all {
    /* background-color: #722323; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.header_container_1_bottom_part_1 {
    grid-area: 1 / 1 / 2 / 2;
    gap: 20px;
    border-right: 0.5px solid #0000006e;
}

.header_container_1_bottom_part_2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: aqua; */

}

.header_container_1_bottom_part_3 {
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_1_bottom_part_1_left_all {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header_container_1_bottom_part_1_left_all img {
    width: 90%;
}


.header_container_1_bottom_part_1_right_all {
    width: 50%;
    height: 89%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    /* align-items: center; */
}

.header_container_1_bottom_part_1_right_all h2 {
    font-size: 1.2vw;

}

.header_container_1_bottom_part_1_right_all p {
    font-size: 0.9vw;
    color: #0000006e;
}

.header_container_1_bottom_part_1_right_all a {
    width: 65%;
    font-size: 1vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}









.headder_container2_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;


    /* Start with Height 0 (Hidden) */
    height: 0vh;
    /* opacity: 100; */
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_2 {
    width: 100vw;

    height: 47vh;
    margin-top: 10vh;
    border-top: 0.5px solid #00000065;

    gap: 20px;
    display: grid;
    /* align-items: end; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    /* transform-origin: top top; */


}




.header_container_2_part_all {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 20px 20px 0 20px;
}

.header_container_2_part1 {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: #0000006b; */

    border-right: 0.5px solid #0000006e;
}

.header_container_2_part2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: #333; */
}

.header_container_2_part3 {
    /* border-color: beige; */
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_2_part_all_left {
    width: 40%;
    height: 100%;
    /* background-color: #000000; */

}

.header_container_2_part_all_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_container_2_part_all_right {
    width: 55%;
    font-family: 'font2';
}

.header_container_2_part_all_right h2 {
    font-size: 1.2vw;

}


.header_container_2_part_all_right p {
    font-size: 1vw;
    text-align: justify;
    margin-top: 5%;

}

.header_container_2_part_all_right a {
    width: auto;
    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;

}





















main {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* Make sure it's below header */
}

.part1 {
    height: 45vh;
    width: 97vw;
    color: #000;
    /* padding-bottom: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'font2';
    border-bottom: 0.5px solid #0000009c;
}

.part1 h1 {
    font-family: 'font2';
    font-weight: 400;
    font-size: 10vw;
}

.part1 button {
    margin-bottom: 4%;
    width: auto;
    font-family: 'font2';

    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
}

.part2 {
    height: 30vh;
    width: 97vw;

    display: flex;
    /* justify-content: space-aroun; */
    /* padding: 5vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 20px;
    font-family: 'font2';
    border-bottom: 0.5px solid #0000009c;
}

.part2_sub1 {
    width: 10%;
    font-family: 'font1';

}

.part2_sub2 {
    width: 35%;

    font-size: 2.2vw;

}

.part2_sub3 {
    color: #0000007d;
    width: 50%;
    margin-left: 5%;

    font-size: 0.9vw;

}

.part3 {
    width: 97vw;
    height: 20vh;
    padding-top: 5%;
    padding-bottom: 5%;
    /* background-color: #1f327e92; */
    display: flex;
    gap: 20px;
    font-family: 'font2';
    justify-content: space-between;
}

.part3_sub_all {
    width: 10%;
    height: 100%;
    /* background-color: #69292974; */
}

.part3_sub1 {
    width: 20%;
}

.part3_sub1 img {
    /* background-color: #cb3434; */
    margin-top: 2%;
}

.part3_sub_all p {
    font-size: 1.2vw;
    font-weight: 100;
}

.part3_sub_all h6 {
    margin-top: 2%;
    font-size: 1vw;
    font-weight: 400;
}

.part4 {
    height: 90vh;
    width: 97vw;
    margin-top: 5%;
    /* background-color: rgba(95, 158, 160, 0.562); */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;



    /* justify-content: start; */
    align-items: start;
    gap: 20px;
    /* padding: 5px; */
}

.part4::-webkit-scrollbar {
    display: none;
    /* Targets and hides the scrollbar element visually */
}


.part4 img {
    object-fit: contain;
    width: calc(25% - 13px);
    /* Sets each image to occupy 25% of the container width minus the gap */
    /* height: auto; Maintains aspect ratio */
    flex-shrink: 0;
    /* Prevents images from shrinking below their set width */

}

.part4_main_animation_image {
    scale: 1;

}

.part5 {
    height: auto;
    width: 97vw;
    /* background-color: rgba(127, 255, 212, 0.426); */
}

.part5_sub_1 {
    width: 97vw;
    height: 40vh;
    /* background-color: #760e0e8d; */
    font-family: 'font2';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part5_sub_1_inner {
    width: 100%;
    height: 30vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 0.5px solid #0000009c;
}

.part5_sub_1_inner h3 {
    font-size: 4vw;
    font-weight: 400;
}

.part5_sub_1_inner button {
    font-family: 'font2';
    font-size: 1vw;
    font-weight: 300;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    /* Decreased vertical padding to reduce height */
    border-radius: 20px;
    border: none;
    /* height: 32px; */
    /* display: inline-flex;  */
}

.part5_sub_1_inner button i {
    rotate: 40deg;
}

.part5_sub_2 {
    height: 150vh;
    width: 97vw;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap:20px;

    /* background-color: rgba(255, 127, 80, 0.309); */
}

.part5_sub_2_card_all
{
    height: 70vh;
    width: 100%;
    background: url('image.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
.part5_sub_2_card_all img
{
    object-fit: contain;
    width: 100%;
    height: 75%;
    background-color: #e4e4e4;
}
.part5_sub_2_card_all_detail
{
    background-color: #e4e4e4;
    height: 25%;
    font-family: 'font2';
    position: relative;
    padding-left: 5%;
}

.part5_sub_2_card_all_detail h3
{
    font-weight: 400;
    font-size: 1.5vw;
}
.part5_sub_2_card_all_detail h3 i
{
    rotate: 45deg;
}
.part5_sub_2_card_all_detail p
{
    color: #a6a6a6;
    font-weight:300;
}


.part5_sub_2_card_1 {
    grid-area: 1 / 1 / 2 / 2;
}

.part5_sub_2_card_1:hover img,
.part5_sub_2_card_2:hover img,
.part5_sub_2_card_3:hover img,
.part5_sub_2_card_4:hover img,
.part5_sub_2_card_5:hover img,
.part5_sub_2_card_6:hover img {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.5s cubic-bezier(0.4,0,0.2,1);
}

.part5_sub_2_card_1 img,
.part5_sub_2_card_2 img,
.part5_sub_2_card_3 img,
.part5_sub_2_card_4 img,
.part5_sub_2_card_5 img,
.part5_sub_2_card_6 img {
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.5s cubic-bezier(0.4,0,0.2,1);
}

.part5_sub_2_card_1:hover .part5_sub_2_card_1_detail,
.part5_sub_2_card_2:hover .part5_sub_2_card_2_detail,
.part5_sub_2_card_3:hover .part5_sub_2_card_3_detail,
.part5_sub_2_card_4:hover .part5_sub_2_card_4_detail,
.part5_sub_2_card_5:hover .part5_sub_2_card_5_detail,
.part5_sub_2_card_6:hover .part5_sub_2_card_6_detail {
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 22%, rgba(253, 187, 45, 0) 100%);
    transition: background-color 0.4s cubic-bezier(0.4,0,0.2,1);
    color: white;
}
.part5_sub_2_card_1_detail,
.part5_sub_2_card_2_detail,
.part5_sub_2_card_3_detail,
.part5_sub_2_card_4_detail,
.part5_sub_2_card_5_detail,
.part5_sub_2_card_6_detail {
    transition: background-color 0.1s cubic-bezier(0.4,0,0.2,1);
}
.part5_sub_2_card_1_detail h3,
.part5_sub_2_card_2_detail h3,
.part5_sub_2_card_3_detail h3,
.part5_sub_2_card_4_detail h3,
.part5_sub_2_card_5_detail h3,
.part5_sub_2_card_6_detail h3 {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5vw;
    overflow: hidden;
}
.part5_sub_2_card_1_detail h3::after,
.part5_sub_2_card_2_detail h3::after,
.part5_sub_2_card_3_detail h3::after,
.part5_sub_2_card_4_detail h3::after,
.part5_sub_2_card_5_detail h3::after,
.part5_sub_2_card_6_detail h3::after {
    /* Underline is hidden by default */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.5s cubic-bezier(0.4,0,0.2,1);
}
.part5_sub_2_card_1:hover .part5_sub_2_card_1_detail h3::after,
.part5_sub_2_card_2:hover .part5_sub_2_card_2_detail h3::after,
.part5_sub_2_card_3:hover .part5_sub_2_card_3_detail h3::after,
.part5_sub_2_card_4:hover .part5_sub_2_card_4_detail h3::after,
.part5_sub_2_card_5:hover .part5_sub_2_card_5_detail h3::after,
.part5_sub_2_card_6:hover .part5_sub_2_card_6_detail h3::after {
    width: 100%;
}
.part5_sub_2_card_1_detail h3 i,
.part5_sub_2_card_2_detail h3 i,
.part5_sub_2_card_3_detail h3 i,
.part5_sub_2_card_4_detail h3 i,
.part5_sub_2_card_5_detail h3 i,
.part5_sub_2_card_6_detail h3 i {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
    margin-left: 0.3em;
    /* No rotation by default */
    transform: rotate(0deg);
}
.part5_sub_2_card_1:hover .part5_sub_2_card_1_detail h3 i,
.part5_sub_2_card_2:hover .part5_sub_2_card_2_detail h3 i,
.part5_sub_2_card_3:hover .part5_sub_2_card_3_detail h3 i,
.part5_sub_2_card_4:hover .part5_sub_2_card_4_detail h3 i,
.part5_sub_2_card_5:hover .part5_sub_2_card_5_detail h3 i,
.part5_sub_2_card_6:hover .part5_sub_2_card_6_detail h3 i {
    transform: rotate(45deg);
}

.part5_sub_2_card_2 {
    grid-area: 1 / 2 / 2 / 3;
}

.part5_sub_2_card_3 {
    grid-area: 1 / 3 / 2 / 4;
}

.part5_sub_2_card_4 {
    grid-area: 2 / 1 / 3 / 2;
}

.part5_sub_2_card_5 {
    grid-area: 2 / 2 / 3 / 3;
}

.part5_sub_2_card_6 {
    grid-area: 2 / 3 / 3 / 4;
}